.box {
    background-color: var(--color-five);
    color: white;
    width: 100%;
    height: 170px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

h4 {
    text-align: center;
    padding-top: 10px;
}

h2 {
    padding: 20px;
}

h2, h4 {
    margin: 0;
}

.text-addTodo{
    text-align: center;
    margin: 10px;
}

input[type=text]{
    padding: 7px;
    width: 250px;
    border-radius: 6px 0 0 6px;
    border: 0;
    height: 30px;
}
input[type=text]:focus, .btn-addTodo:focus{
    outline: none;
}


.btn-addTodo {
    color: white;
    background-color: var(--color-three);
    font-size: 14px;
    font-weight: 600;
    border: none;
    height: 30px;
    padding: 5px;
    border-radius: 0 6px 6px 0;
    cursor: pointer;
}
